<main>
  <div class="container">
    <h1>
      {{ "pages.home.app-title-first-word" | translate }}
      <span>{{ "pages.home.app-title-second-word" | translate }}</span>
    </h1>

    <div class="switches">
      <app-theme-switch />
      <app-language-switch
        [language]="currentLanguage"
        (languageChange)="changeLanguage($event)"
      />
    </div>

    @if (!partida) {
    <app-button (clicked)="openModal('create')">
      {{ "pages.home.button.start" | translate }}
    </app-button>
    } @if (partida) {
    <div class="actions-after-match">
      <app-button (clicked)="openModal('add')">
        {{ "components.match.add-player" | translate }}
      </app-button>

      <app-button (clicked)="openModal('remove')" class="remove-button">
        {{ "components.match.remove-player" | translate }}
      </app-button>

      <app-button
        class="new-match-button"
        (clicked)="partida = null; openModal('create')"
      >
        {{ "pages.home.button.start" | translate }}
      </app-button>
      <app-button (clicked)="openResultModal()" class="result-button">
        {{ "components.match.register-result" | translate }}
      </app-button>
    </div>

    <app-partida [partida]="partida" />
    }

    <app-modal
      [isOpen]="isModalOpen"
      [showTeamSize]="modalMode === 'create'"
      [title]="getModalTitle() | translate"
      [submitText]="getSubmitText() | translate"
      (closed)="closeModal()"
      (submitted)="handleSubmit($event)"
    ></app-modal>
    <app-result-modal
      [isOpen]="isResultModalOpen"
      (closed)="closeResultModal()"
      (submitted)="handleResultSubmit($event)"
    ></app-result-modal>
  </div>
  <app-footer />
</main>
