<div class="partida-container">
  <div class="grid">
    <!-- Equipe A -->
    <app-equipe
      [titulo]="'components.match.team-a'"
      [jogadores]="partida.equipeA.jogadores"
      tipo="principal"
      (editPlayer)="editarJogador($event)"
      (deletePlayer)="excluirJogador($event)"
    >
    </app-equipe>

    <!-- Equipe B -->
    <app-equipe
      [titulo]="'components.match.team-b'"
      [jogadores]="partida.equipeB.jogadores"
      tipo="principal"
      (editPlayer)="editarJogador($event)"
      (deletePlayer)="excluirJogador($event)"
    >
    </app-equipe>

    <!-- Reservas -->
    <app-equipe
      [titulo]="'components.match.reserves'"
      [jogadores]="partida.reserva.jogadores"
      tipo="reserva"
      (editPlayer)="editarJogador($event)"
      (deletePlayer)="excluirJogador($event)"
      (addPlayer)="adicionarNovoJogador()"
      style="grid-column: span 2"
    >
    </app-equipe>
  </div>

  @if (jogadorSendoEditado !== null) {
  <app-edit-player-modal
    [playerName]="jogadorSendoEditado"
    [isNewPlayer]="novoJogadorMode"
    (confirm)="confirmarEdicao($event)"
    (cancel)="cancelarEdicao()"
  />
  }
</div>
