.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
  }
}

.theme-button {
  width: 50px;
  height: 25px;
  background-color: var(--cor-destaque-secundario);
  border-radius: 25px;

  position: relative;
  cursor: pointer;
  margin: 8px;
}

.theme-button .indicator {
  width: 25px;
  height: 25px;
  background-color: var(--cor-fundo-botao);
  border-radius: 50%;
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;

  .moon,
  .sun {
    fill: var(--cor-texto-botao);
  }
}

.theme-button.dark {
  background-color: var(--cor-destaque-secundario);
}

.theme-button.dark .indicator {
  left: 25px;
  background-color: var(--cor-fundo-botao);
}
